.searchBar {
    padding: 2rem 1rem;
}

.searchBar input {
    font-size: 1.2rem;
    padding: .5rem;
}

.search_results {
    width: 100%;
}

.search_result {
    border: 1px solid #EEE;
    margin: .4rem 1rem;
    padding: .4rem;
}